.coright {
  width: 90%;
  margin-left: 30px;
  /* background-color: #cf8a77; */
  height: 70vh;
  overflow: hidden;
  position: relative;
}

.ima {
  display: flex;
}

/* Styling for Images */
.ima img {
  border: 1px solid #4526b1;
  border-radius: 20px;
  margin-right: 30px;
  margin-top: 20px;
  display: block;
  height: 150px;
}

.first {
  animation: infiniteScroll1 5s linear infinite;
}

.second {
  animation: infiniteScrollDown 5s linear infinite;
}

.third {
  animation: infiniteScroll3 5s linear infinite;
}

@keyframes infiniteScroll1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes infiniteScrollDown {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes infiniteScroll3 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@media (max-width: 768px) {
  .ima {
    gap: 20px;
  }
  .third {
    display: none;
  }
  .coright {
    width: 90%;
    margin-left: 30px;

    height: 56vh;
    overflow: hidden;
    position: relative;
  }
}
