@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
  padding: 0;
  cursor: none;
  box-sizing: border-box;
  
  /* font-family:  'Fugaz One , cursive'; */
  /* background-color: #000; */
  /* background-color:#2b1c4f ; */
}
/* globals.css */


/* Light mode (default) */
body {
  background-color: #fff;
  
  color: #000;
}

/* Dark mode */
:root.dark body {
  background-color: #000;
  color: #fff;
}
:root.dark .content{
  /* border: 1px solid #fff; */
  background-color: #1837c1;
}
:root.dark .card{
  border: 1px solid #fff;
}
:root.dark .spn{
  color: #fff;
}
:root.dark .footer{
  background-color: #000;
}
:root.dark .footerContent {
  color: #fff;
}
:root.dark .header-container{
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.379);
}
/* Add additional dark/light-specific styles */
:root.dark.nav-item{
  color: #000;
}

@media (max-width: 768px) {

}