/* Chat.module.css */
.chatContainer {
  border: 1px solid #5d40f4;
  margin-top: 5%;
  width: 98%;
  display: flex;
  height: 100vh;
  /* background-color: #f7f9fc; Background similar to your design */
}
.sd{
  background-color: rgb(102, 99, 94);
  overflow: hidden;
  
  height: 5%;
  
}
.int{
  margin-top: 3px;
  text-align: center;
  
  font-size:15px;
}
.sidebar {
  
  display: flex;
  flex-flow: column;
  width: 280px;
  padding: 20px;
  border-right: 1px solid #ddd; 
  
  
  overflow-y: auto;
  max-height: 100vh; /* Ensures it stays within the viewport */
}
.searchInput {
  
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.friendItem {
  display: flex;
  align-items: center;
  gap: 4px;
  border: 1px solid #5d40f4;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.2s;
}

.friendItem:hover {
  background-color:#17009c; /* Hover effect */
}

.friendAvatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #4a90e2; /* Circular border */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.friendName {
  font-weight: bold;
}

.chatArea {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* background-color: #ffffff; Chat area background */
}

.messages {
  flex: 1;
  overflow-y: auto; /* Allow scrolling */
  padding: 10px;
  display: flex;
  flex-direction: column; /* Stack messages vertically */
  gap: 10px; /* Space between messages */
}

.messageSender {
  background-color: #00ff6abd; /* Color for sent messages */
  border-radius: 10px;
  padding: 10px;
  align-self: flex-end; /* Align sent messages to the right */
  max-width: 70%; /* Restrict width to 70% */
  position: relative;
}

.messageReceiver {
  background-color: #05b0ff; /* Color for received messages */
  border-radius: 10px;
  padding: 10px;
  align-self: flex-start; /* Align received messages to the left */
  max-width: 70%; /* Restrict width to 70% */
  position: relative;
}

.inputArea {
  display: flex;
  margin-top: 10px;
}

.inputArea input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.inputArea button {
  margin-left: 10px;
  padding: 10px;
  border: none;
  background-color: #4a90e2; /* Button color */
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.inputArea button:hover {
  background-color: #357ab8; /* Button hover color */
}
