.chat-container {
  display: flex;
  height: 100vh;
  border: 1px solid #ddd;
}

.sidebar {
  width: 25%;
  border-right: 1px solid #ddd;
  padding: 20px;
  
}
.showheader{
  border: 1px solid #34d399;
}

.friends-list {
  list-style-type: none;
  padding: 0;
}

.friends-list li {
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.friends-list li:hover {
  background-color: #e0e0e0;
}

.chat-area {
  flex: 1;
  padding: 20px;
}

.messages {
  height: 70%;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

.messages .sent {
  text-align: right;
  background-color: #dcf8c6;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.messages .received {
  text-align: left;
  background-color: #f1f0f0;
  padding: 10px;
  border-radius: 5px;
  margin: 5px 0;
}

.message-input {
  display: flex;
}

.message-input input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.message-input button {
  padding: 10px;
  margin-left: 10px;
  background-color: #34d399;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message-input button:hover {
  background-color: #3d8f8f;
}
