* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: hsl(223, 10%, 90%);
  --fg: hsl(223, 10%, 10%);
  --c1: hsl(3, 90%, 55%);
  --c2: hsl(33, 90%, 55%);
  --c3: hsl(223, 90%, 55%);
  --c4: hsl(273, 90%, 55%);
  /* font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320)); */
}

.bdyy {
  /* background: var(--bg); */
    font-size: calc(16px + (24 - 16) * (100vw - 320px) / (1280 - 320));
  color: var(--fg);
  display: flex;
  flex-wrap: wrap;
  font: 1em/1.5 sans-serif;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

.pl1, .pl2, .pl3, .pl4 {
  display: flex;
  margin: 1.5em;
  width: 6em;
  height: 6em;
  justify-content: space-between;
}

.pl1__a, .pl1__b, .pl1__c,
.pl2__a, .pl2__b, .pl2__c,
.pl3__a, .pl3__b, .pl3__c, .pl3__d,
.pl4__a, .pl4__b, .pl4__c, .pl4__d {
  border-radius: 50%;
  width: 1em;
  height: 1em;
}

.pl1__a, .pl1__b, .pl1__c {
  animation: bounce1 1s linear infinite;
}

.pl2__a, .pl2__b, .pl2__c {
  animation: bounce2 2s linear infinite;
}

.pl3__a, .pl3__b, .pl3__c, .pl3__d {
  animation: bounce3 2s ease-in-out infinite;
  transform-origin: 50% 0;
}

.pl4__a, .pl4__b, .pl4__c, .pl4__d {
  animation: bounce4 2s linear infinite;
  transform-origin: 50% 100%;
}

.pl1__a { background: var(--c1); }
.pl1__b { background: var(--c2); animation-delay: 0.1s; }
.pl1__c { background: var(--c3); animation-delay: 0.2s; }

.pl3__a { background: var(--c1); }
.pl3__b { background: var(--c2); animation-delay: 0.1s; }
.pl3__c { background: var(--c3); animation-delay: 0.2s; }
.pl3__d { background: var(--c4); animation-delay: 0.3s; }

/* Animation Keyframes */
@keyframes bounce1 {
  from, to { transform: translateY(0) scale(1, 1); }
  45% { transform: translateY(5em) scale(1, 1); }
  50% { transform: translateY(5em) scale(1.5, 0.5); }
  55% { transform: translateY(5em) scale(1, 1); }
}

@keyframes bounce2 {
  from, to { transform: translateY(0) scale(1, 1); }
  9%, 29%, 49%, 69% { transform: translateY(5em) scale(1, 1); }
  10% { transform: translateY(5em) scale(1.5, 0.5); }
  20% { transform: translateY(2.5em) scale(1, 1); }
}

@keyframes bounce3 {
  from, 5%, 95%, to { transform: translateY(0) scaleY(1); }
  16.7% { transform: translateY(0) scaleY(8); }
  28.3%, 38.3% { transform: translateY(5.25em) scaleY(1); }
}

@keyframes bounce4 {
  from, 20%, 40%, 60%, 80%, to { transform: scaleY(1); }
  10% { transform: scaleY(8); }
}

/* Dark Theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(223, 10%, 10%);
    --fg: hsl(223, 10%, 90%);
  }
}
