/* :root {
  --primary-color: #637696;
  --button-color: #25D366; /* WhatsApp color */
  /* --text-color: #333;
  --background-color: #f9f9f9;
} */

/* body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
} */ 

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 600px;
}

.profileHeader {
  text-align: center;
  margin-bottom: 20px;
}

.profilePicture {
  margin-bottom: 10px;
}

.emoji {
  font-size: 70px;
  margin-top: -10px;
}

.username {
  font-size: 24px;
  color: var(--primary-color);
}

.profileInfo {
  margin-bottom: 20px;
}

.infoItem {
  margin-bottom: 15px;
}

.profileInput,
.profileTextarea,
.genderSelect {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profileTextarea {
  resize: vertical;
  height: 100px;
}

.socialSection,
.accountSection {
  margin-top: 20px;
}

.sectionTitle {
  color: var(--primary-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.socialButtons,
.accountButtons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.inviteButton {
  background-color: var(--button-color);
  color: #fff;
}

.button {
  padding: 10px 20px;
  margin-top: 5px; /* Spacing between buttons */
  background-color: #007bff; /* Default button color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3; /* Darken on hover */
}

.deleteButton {
  background-color: #e74c3c; /* Delete button color */
}

.deleteButton:hover {
  background-color: #c0392b; /* Darken on hover */
}
