@import url('https://fonts.googleapis.com/css2?family=Fugaz+One:wght@400&display=swap');

.main {
  margin-top: 40px;
  display: flex;
  height: 96vh;
  justify-content: center;
  align-items: center;
  padding: 20px;
 
  
  
}

.cards {
  display: flex;
  flex-wrap: wrap; 
  width: 90%;
  /* height: 100%; */
  gap: 20px;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}

.cards_item {
  display: flex;
  justify-content: center;
}

.card {
  border-left: 1px solid #ffffff;
  /* background: linear-gradient(135deg, #f78ca0, #f9748f); */
  background-color: #6c4d9f;
  border-radius: 25px;
  padding: 20px;
   width: 250px;
 
  margin: 10px;
  
  border-bottom: 15px solid #fff;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.card_image {
  position: relative;
  top: -39px;
  border-bottom-left-radius: 40px;
  background-color: #2b1c4f;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emoji {
  font-size: 40px;
}

.card_title {
  color:antiquewhite;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 10px;
}

.card_reason {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  color: white;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.erro{
  font-family:  'Fugaz One';
  font-size: 2.5rem;
  color: #fffdfd; /* Text color */
  font-weight: 500;
  /* -webkit-text-stroke: 1px #0f0f0f;  */
}


